.board-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
}

.ticket-column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.column-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.column h4 {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: #333;
}

.ticket {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.375rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.ticket p {
    font-size: 0.875rem;
    color: #666;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.ticket-id {
    font-size: 0.375rem;
    font-weight: 500;
    color: #6f6e6e;
}

.ticket-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.ticket-checkbox {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.ticket-title {
    font-size: 0.625rem;
    font-weight: 600;
    color: #000;
}

.ticket-priority {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.priority-img {
    width: 0.75rem;
    height: 0.75rem;
    object-fit: contain;
    border: 0.03125rem solid #666;
    border-radius: 0.25rem;
    padding: 0.1875rem;
}

.tag {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.125rem 0.25rem;
    border: 0.03125rem solid #666;
    border-radius: 0.25rem;
}

.tag-title {
    font-size: 0.75rem;
    font-weight: 500;
}

.dot {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: #666;
}

.user-logo {
    background-color: #007bff;
    color: #fff;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    
}

p {
    margin: 0;
    padding: 0;
}